<div class="bloc_table">
    <table>
            <tr class="title">
                <th>id</th>
                <th>nom</th>
                <th>title</th>
                <th>Statut</th>
            </tr>
            <tr *ngFor="let personnage of personnageList; let i= index">
                <td class="column_id">{{personnage.id}}</td>
                <td>{{personnage.name}}</td>
                <td>{{personnage.title}}</td>
                <td>{{personnage.active}}<input type="checkbox" [(ngModel)] = "personnage.active" ></td>
                <button (click)="delete(personnage.id!)">Supprimer</button>
            </tr>
        
        </table>

</div>
    
    
 

